.create-field {
	margin-top: 10px;
}

.survey-general-data, .question-sector, .submit-sector {
	margin: 0 auto;
	width: 70%;
}

.survey-general-data {
	margin-top: 20px;
	padding: 20px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.question-sector {
	padding: 20px;
	border-radius: 0;
}

.submit-sector {
	margin-top: 0;
}

input[type=text], input[type=text]:focus {
	border: none;
	border-bottom: 2px solid dodgerblue;
}

#surveyDesc {
	border: none;
	border-bottom: 2px solid dodgerblue;
	border-radius: 0;
}